.mainClass {
  background-color: white;
}

.headerClass {
  display: var(--display);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  padding: 20px;
  outline: 2px solid gray;
  background: beige;
  margin-left: -10px;
  margin-right: -10px;
}

.inputContainer {
  display: var(--display);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  margin: var(--margin);
}

.searchBar {
  width: 300px;
  height: 30px;
  border: var(--border);
  border-radius: 5px;
  padding: 10px;
  font-size: var(--font-size);
  margin: var(--margin);
}

.currencySelector {
  width: 100px;
  height: 50px;
  border: var(--border);
  border-radius: 5px;
  padding: 10px;
  font-size: var(--font-size);
  margin: var(--margin);
}

.coinClass {
  display: var(--display);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
}

.coinTable {
  width: 50%;
  border-collapse: collapse;
}

.coinTable td {
  padding: 10px;
  text-align: center;
}

.coinTable th {
  font-style: italic;
}